.payment-page{
      margin: auto;
}

.addressheader{
      margin-top: 120px;
}
.headertext{
      width: 80%;
      margin: auto;
      padding: 7px;
      background-color: green;
}
.headertext h1{
      font-size: 40px;
      color: white;
}

.headertext span svg{
      size: 40px;
}

.container{   
      width: 80%;
      margin: auto;
      padding-left: 30px;
      padding-right: 30px;
      margin-top: 20px;
      border-bottom:solid 1px black;
}

.form-container{
      position: relative;
      padding: 15px;
      width: 80%;
}

.divrow{
      display: flex;
      width:100%;
}

.form{
      position: relative;
      width: 200px;
      border: solid 2px green;
      margin-bottom: 20px;
  }

.alamat{
      position: relative;
      width: 425px;
      border: solid 2px green;
}


textarea{
      border: none;
      width: 420px;
      height: 150px;
}

textarea:focus{
      outline:none;
}

input{
      border:none;
}

input:focus{
      outline:none;
}

#paymentmethod{
      width: 200px;
      margin: 12px;
      padding-left: 9px;
}

.container h1{
      margin-bottom: 15px;
}

.container h5{
      margin-left: 20px;
}
.tag-alamat label {
      margin-right: 10px;
}

.container img{
      width: 50px;
      padding-bottom: 4px;
}

.submit{
      margin-left: 400px;
}

.submit input{
      font-size: 20px;
      background-color: green;
      color: white;
      padding-left:15px;
      padding-right:15px;
      margin-top: 12px;
      margin-bottom: 90px;
}