* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
}

.product-page{
    width: 80%;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    margin-top: 140px;
    height: 300px;
    background-color: #FFFFFF;
}

.product-image img{
    height: 100%;
    margin-right: 5px;
    
    transition: all 0.5s ;
}

.product-image img:hover{
    scale:1.3;
}

.product-desc{
    width: 49%;
}


.product-name{
    border-bottom: 1px solid black;
    margin-left: 120px;   
}

.rating{
    padding-left: 4px;
    font-size: 20px;
}
.product-desc h1{
    font-size: 30px;
    color: black;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-decoration: none;
}
.product-desc form{
    margin:12px;
    margin-left: 120px;
    font-weight: 600;
}


.product-choice{
    display: flex;
    align-items: center;
    height: 45px;
    margin-top: 12px;
}

.product-choice p{
    width: 90px;
    margin: 0;
}

.product-choice input:checked + label{
    color: white;
    font-weight: 600;
    background-color: #212529;
}

.product-choice input{  
    display: none;
    
}
.product-choice span{
    cursor: pointer;
}

.product-choice label{
    margin-right: 12px;
    padding: 9px;
    border: black solid 1px;
    border-radius: 6px;
    width: 60px;
    text-align: center;
}

.product-choice label:hover{
    background-color: #212529;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: all .5s;
}

.container{
    display:flex;
    flex-direction: column;
}

.label label{
display: flex;
}


.addtocart{
    margin-left:120px;
    margin-top:15px;
    align-items: flex-end;
}


.cart-button {
    display: inline-block;
    background-color: black;
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    transition: all .5s;
    padding: 7px 15px;
}

.cart-button:hover {
    background-color: rgb(98, 94, 94);
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 0.3s;
}

.cart-button:active{

}

.divider{
    margin: auto;
    width: 80%;
    margin-top: 32px;
    border-bottom: 1px solid black;
}

.seller{
    margin: auto;
    width: 80%;
    background-color: white;
    height: 120px;
    display: flex;
    border-bottom: 1px solid black ;
}

.sellerpic{
    width:20%;
    justify-content: center;
    display: flex;
}

.sellerpic img{
    height: 85px;
    width: 85px;
    margin: auto;
    border-radius: 50%;
}

.sellername{
    width:20%;
    padding-bottom: 7px;
    text-align: center;
    margin: auto;
}
.name{ 
    padding-bottom: 12px;
    font-weight: 700;
}

.visit button{
    background-color: black;
    color: white;
    border-radius: 6px;
}

.visit button:hover{
    background-color: rgb(98, 94, 94);
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: all .5s;
}

.visit{
    margin: auto;
}

.seller-desc{
    width: 70%;
    padding: 25px;
    display: flex;
    margin: auto;
}

.seller-desc-rating ,
.seller-desc-location,
.seller-desc-processtime{
    padding-left: 20px;
    font-size: 20px;
    margin-right: 60px;
}


.detail-recommend{
    width: 80%;
    margin: auto;
    display: flex;
}

.container-detail-product,
.container-recommend-product{
    width: 50%;
    padding: 40px;
}

.header-detail-product h1,
.header-recommend-product h1{
    font-weight: 600;
    font-size: 40px;
}

.detail-product{
    padding: 20px;
}

.recommend-product{
    display: flex;
}