.payment-page{
      margin: auto;
}

.addressheader{
      margin-top: 160px;
      border-radius: 6px;
}
.headertext{
      width: 80%;
      margin: auto;
      padding: 7px;
      padding-left: 40px;
      background-color: black;
      border-radius: 6px;
}
.headertext h1{
      font-size: 40px;
      color: white;
}

.headertext span svg{
      size: 40px;
}

.container{   
      width: 80%;
      margin: auto;
      padding-left: 30px;
      padding-right: 30px;
      margin-top: 20px;
}

.form-container{
      position: relative;
      padding: 15px;
      width: 80%;
}

.divrow{
      display: flex;
      width:100%;
}

.form{
      position: relative;
      width: 200px;
      border: solid 1px black;
      margin-bottom: 20px;
  }

.alamat{
      position: relative;
      width: 425px;
      border: solid 1px black;
}


textarea{
      border: none;
      width: 420px;
      height: 150px;
}

textarea:focus{
      outline:none;
}

input{
      border:none;
}

input:focus{
      outline:none;
}

#paymentmethod{
      width: 200px;
      margin: 12px;
      padding-left: 9px;
}

.container h1{
      margin-bottom: 15px;
}

.container h5{
      margin-left: 20px;
}
.tag-alamat label {
      margin-right: 10px;
}

.container img{
      width: 50px;
      padding-bottom: 4px;
}

.submit{
      margin-left: 400px;
}

.submit input{
      font-size: 20px;
      background-color: black;
      color: white;
      padding-left:15px;
      padding-right:15px;
      margin-top: 12px;
      border-radius: 6px;
}

.submit input:hover{
      background-color: #212529;
}

/*-----------Footer---------*/
footer {
	width: 100%;
	height: 350px;
	margin-top: 100px;
	display: flex;
	font-size: .97em;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	font-family: "Open Sauce One", "Nunito Sans", -apple-system, sans-serif;
    }
    
    .footerCol {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
	height: 100%;
	padding-left: 80px;
    }
    
    .footerCol .bi {
	height: 25px;
	width: 25px;
	color: rgba(49,53,59,0.68);
    }
    
    .footerTitle {
	font-size: 1.2em;
	font-weight: bold;
    }
    
    .footerCol ul {
	list-style-type: none;
	padding: 0;
	margin-top: 10px;
	margin-bottom: 20px;
    }
    
    .footerCol ul li {
	margin-bottom: 10px;
    }
    
    .footerCol ul li a {
	color: rgba(49,53,59,0.68);
	text-decoration: none;
	font-weight: bold;
    }
    
    .footerCol ul li:hover a, .footerCol .bi:hover{
	color: black;
    }
    
    .socialMedia li{
	float: left;
	margin-right: 20px;
    }

