<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reset Password!</title>
    <link rel="stylesheet" href="css/pw.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;1,200&display=swap"
        rel="stylesheet">
</head>

<body>
    <a href="/signup"
        style="position: absolute; top: 45%; left: 25%; background-color: #fff; border-radius: 50%;">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="000" class="bi bi-arrow-left-circle"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
        </svg>
    </a>
    <div class="form-container">
        <form class="form-wrap" action="api/auth/reset" method="post">
            <h2>Forgot Password?</h2>
            <div class="form-box">
                <input type="text" placeholder="Enter your email address" name="resetEmail">
            </div>
            <div class="form-submit">
                <input type="submit" value="Request">
            </div>
        </form>
    </div>
</body>

</html>